.img{
    float:left; 
    width:120px; 
    height:75px
}
.link{
    text-decoration: none;
    color:black;
}
.card{
    padding-top:10px;  
    /* margin-top:3%; */
     width:100%;
     background-color: #E1E1E1;
     border:none;
}
