.container{
    margin-top: 2%;
    width:100%;
}

.caurosel{
    height: 330px;
}
.card{
    height:11rem;
    border:none;
}

.column{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr ; 
    gap:1px;
}
.footer{
    Margin-top:2%;
    text-align: center; 
    color: black;
    background-color: #e7642f;
}
.card{
    width: 18rem; 
    background-color: #e7642f; 
    border: none;
    text-align: left;
    display: inline-block;
    margin-left: 5%;
}

.link{
    
    color: black;
    text-decoration: none;
    
   
}
.tag{
    margin-left: 10%;
}
